---
title: Hello
---

{% extends "_includes/default.njk" %}

{% block title %}Install CiteIt.net Wordpress plugin{% endblock %}

{% block head %}

  <link rel='stylesheet' id='organictabs-css'  href='/assets/css/organictabs.css' type='text/css' media='all' />
  <script type="text/javascript" src="/assets/js/OrganicTabs/js/organictabs.jquery.js"></script>

{% endblock %}


{% block content %}
{% include "_includes/nav.njk" %}

<div id="page_container">

    <main class="mt-4 max-w-7xl px-4 sm:px-6 ">
    <!--main class="mt-4 mx-auto max-w-7xl px-4 sm:px-6 "-->
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
          <h1>
            <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl">
              <span class="block font-header text-gray-900">Building trust in media</span>
            </span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            CiteIt is developing new <span class="text-blue-700 font-extrabold">digital tools</span> that help <span class="text-red-300 font-extrabold">combat misinformation</span> and <span class="text-red-300 font-extrabold">selective quotations</span>.
            These tools show the context surrounding the quoted media in order to build trust and understanding.
          </p>

        </div>
      </div>
    </main>  


<h2 class="mt-2 mb-10 ml-5 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Code:</h2>

<div id="page-tabs">
  <ul class="nav">
    <li class="nav-one"><a href="#wordpress" class="current">WordPress</a></li>
    <li class="nav-two"><a href="#developers">Developers</a></li>
    <li class="nav-three"><a href="#volunteer">Volunteer</a></li>
    <li class="nav-four last"><a href="#license">License: MIT</a></li>
  </ul>
  <div class="list-wrap">

    <!-- Web Authors -->    
  <div id="wordpress">

    <h3 class="mb-2" style="font-size: 1.8em; font-weight: bold;">Install WordPress plugin</h3>
    <p>The CiteIt Wordpress plugin is the <strong>easiest way to start</strong> experimenting with CiteIt <strong>on your website</strong>.<p>

    <!--div class="resp-container"-->
    <iframe width="853" height="505" src="https://www.youtube.com/embed/eIwlo7nQr0g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <h4 class="mt-10 mb-2" style="font-size: 1.6em; font-weight: bold;">Installation</h4>

    <a href="https://download.citeit.net/quote-context/wordpress-plugin/CiteIt.net.zip" class="w-2/5 mb-3 flex items-center px-8 py-3 border border-transparent text-base font-medium text-white bg-green-500 hover:bg-blue-700 md:text-lg">
    Download WordPress plugin &nbsp;&nbsp; (alpha)
    </a>

    <img style="float:right" alt="WordPress logo" src="https://www.citeit.net/wp-content/uploads/2019/12/WordPress.svg_.png" />
    (<a class="underline nonblock" target="_blank" href="https://www.citeit.net/2020/08/08/how-to-install-and-use-the-citeit-net-wordpress-plugin/">How to Install the plugin</a>)

    <h3 class="mt-12 mb-3" style="font-size: 1.4em; font-weight: bold;">Alpha Status</h3>

    <p class="mb-4">The WordPress plugin is <strong>not yet</strong> part of the WordPress <strong><a href="https://wordpress.org/plugins/">Plugin directory</a></strong> because it has not yet been widely <strong>tested</strong>.</p>

    <p class="mb-4">I don't want to get a bunch of negative reviews for <strong>bugs</strong>.  After you've tried it out, <a class="underline nonblock" href="https://www.openpolitics.com/tim">send me an email</a> with <strong>feeback</strong>.</p>

    <p>Once I get enough positive feedback, I hope to add it to the plugin directory.</p>
    
  <div id="attachment_1922" style="width: 310px" class="wp-caption alignright"><img aria-describedby="caption-attachment-1922" loading="lazy" class="wp-image-1922 size-medium" src="https://www.citeit.net/wp-content/uploads/2020/08/volunteer-2055042_1920-300x207.png" alt="Volunteer" width="300" height="207" srcset="https://www.citeit.net/wp-content/uploads/2020/08/volunteer-2055042_1920-300x207.png 300w, https://www.citeit.net/wp-content/uploads/2020/08/volunteer-2055042_1920-1024x706.png 1024w, https://www.citeit.net/wp-content/uploads/2020/08/volunteer-2055042_1920-768x530.png 768w, https://www.citeit.net/wp-content/uploads/2020/08/volunteer-2055042_1920-1536x1059.png 1536w, https://www.citeit.net/wp-content/uploads/2020/08/volunteer-2055042_1920.png 1920w" sizes="(max-width: 300px) 100vw, 300px"><p id="caption-attachment-1922" class="wp-caption-text"><a href="https://pixabay.com/illustrations/volunteer-hands-help-colors-2055042/" class="broken_link">Volunteer</a></p></div>
  <h3 class="mt-12 mb-3 text-blue-600" style="font-size: 1.6em; font-weight: bold;">Gutenburg Volunteer Wanted</h3>
  <p>I’m looking for a volunteer to <strong><a class="underline" href="https://github.com/CiteIt/citeit-wordpress/issues/5">convert this plugin to Gutenberg</a></strong>.  
  The WordPress plugin currently uses the Classic Editor (TinyMCE).</p>


<h3 class="mt-20 mb-3 text-green-700" style="font-size: 1.25em; font-weight: bold;">Version History</h3>
<h5>Oct 4, 2020: (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.8/CiteIt.net.zip">download: 0.4.8</a>)</h5>
<ul class="disc"><li>add labels to Blockquote Context</li>
<li>add style formatting
<ul class="disc"><li>add background color to blockquote</li>
<li>indent context: indent,</li>
<li>add tooltip to label</li>
</ul></li>
<li>Edit Popup
<ul class="disc"><li>add &ldquo;source&rdquo; label &amp; url</li>
<li>change title</li>
</ul></li>
</ul><h5>Aug 17, 2020: (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.7/CiteIt.net.zip">download: 0.4.7</a>)</h5>
<ul><li>add permalink to blockquote and q tags to display context on non-canonical pages (the home page, etc)</li>
</ul><h5>July 30, 2020: (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.6/CiteIt.net.zip">download 0.4.6</a>)</h5>
<ul class="disc"><li>add &ldquo;Right and Left Quotation&rdquo; to Unicode Escape characters</li>
<li>change style: q-tag link: double underline, remove border from quote arrows</li>
</ul><h5>July 25, 2020: (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.5/CiteIt.net.zip">download 0.4.5</a>)</h5>
<ul class="disc"><li>update dependency: bump lodaash from 4.17.15 to 44.17.19 in /lib/link-to-text-fragment</li>
<li>format q-tag links and popup window</li>
<li>add error hardlinking to YouTube embed: url_parsed.params.start</li>
</ul><h5>July 6, 2020: (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.4/CiteIt.net.zip">download 0.4.4</a>)</h5>
<ul class="disc"><li>add Logic to Expand: YouTube Vimeo, and Soundcloud</li>
<li>fix Quote-Context Arrows: remove border</li>
</ul><h5>Jun 27, 2020: (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.3/CiteIt.net.zip">download 0.4.3</a>)</h5>
<ul class="disc"><li>change version to 3-part number</li>
<li>convert UTF-16 to UTF-8</li>
</ul><h5>June 22, 2020: (download 0.4.2)</h5>
<ul class="disc"><li>change webservice submission url: http://api.citeit.net/v0.4/url/</li>
<li>add forge-sha256 build</li>
<li>update jQuery version to 3.4.1</li>
<li>update forge-sha256</li>
</ul><h5>June 19, 2020: (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.4.1/CiteIt.net.zip">download 0.4.1</a>) (0.64)</h5>
<ul class="disc"><li>update jsVideoURLParser</li>
<li>preserve html in TinyMCE editor quote selection</li>
</ul><h5>June 18, 2020: (download 0.4.x) (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.63/CiteIt.net.zip">0.63</a>)</h5>
<ul class="disc"><li>format and document code</li>
</ul><h5>June 13, 2020: (download 0.4.x) (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.62/CiteIt.net.zip">0.62</a>)</h5>
<ul class="disc"><li>add function isWordpressPreview() to CiteIt-quote-context:<br>
&ndash; detect if current URL is in preview mode<br>
&ndash; remove querystring if in &ldquo;preview&rdquo; mode</li>
<li>rename existing function names: use camel case</li>
</ul><h5>Jan 29, 2020: (download 0.4.x) (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.61/CiteIt.net.zip">0.61</a>)</h5>
<ul class="disc"><li>switch toggle_quote to reference arrow anchor<br>
rather than parent div</li>
<li>switch toggle_quote to reference arrow anchor<br>
rather than parent div</li>
<li>CSS
<ul class="disc"><li>add &lt;a class=&lsquo;quote_arrows&rsquo; to support styling</li>
<li>change display to &ldquo;block&rdquo; to get rotate to work</li>
<li>remove link outline from arrows</li>
<li>add transform support for legacy browsers</li>
</ul></li>
<li>make contextual popup appear on top: z-index: 9999</li>
<li>rename neotext -&gt; citeit</li>
</ul><h5>Jan 25, 2020: (download 0.x.x) (<a class="underline nonblock" href="https://download.citeit.net/quote-context/wordpress-plugin/archive/0.5/CiteIt.net.zip">0.60</a>)</h5>
<ul class="disc"><li>quote-context.php: register style, remove text/css attrib from style sheets</li>
<li>enqueue style sheet</li>
<li>fix validation errors</li>
<li>add toggleClass(&ldquo;rotated180&rdquo;);</li>
</ul><h5>Jan 18, 2020:</h5>
<ul><li>Escape Text using Unicode Codepoints</li>
<li>switch endpoint to: http://api.citeit.net</li>
</ul>

<p class="mt-6">(<a class="underline nonblock" href="https://github.com/CiteIt/citeit-wordpress/commits/master">View More History</a>)</p>


  </div>

  <!-- Developers -->
  <div id="developers" class="hide">
    <h3 class="mt-8 mb-4" style="font-size: 1.6em; font-weight: bold;">Developers</h3>

    <h4 class="mt-10 mb-2 text-blue-600" style="font-size: 1.5em; font-weight: bold;">1) Frontend Sample Code: Basic Html &amp; Javascript</h4>

    <p>See simple sample code that marks up citations and calls the web service.</p>

    <p>If you want to use CiteIt.net with a CMS or other platform, this code should give you an idea of how to adapt your code.</p>
    
    <ul class="disc">
      <li>Html template: <a class="underline nonblock" href="https://www.citeit.net/sample-code/examples.html">example citations</a></li>
      <li>Php template: <a class="underline nonblock" href="https://www.citeit.net/sample-code/">submit a URL to the web service to be indexed</a></li>
      <li>Php template: call web service to <a class="underline nonblock" href="https://www.citeit.net/sample-code/text-version.php">create a text version of page URL</a></li>
    </ul>

      <a href="https://github.com/CiteIt/citeit-sample-code" class="mt-6 w-1/3 mb-3 flex items-center px-8 py-3 border border-transparent text-base font-medium text-white bg-green-500 hover:bg-blue-700 md:text-lg">
      Get Sample Code on GitHub</a>


    <br />
    <h4 class="mt-10 mb-2 text-blue-600" style="font-size: 1.5em; font-weight: bold;">2) Python API Webservice</h4>
    <img style="float: right" src="/assets/images/python-logo-master-v3-TM.png" alt="Python logo" width="400" />

    <p>This is the code for the API server that the javascript clients talk to when creating a new quote <a class="underline" href="https://read.citeit.net/quote/sha256/0.4/41/4174a04d8a3fc6b30596b940f5264e9a0dfe22cced9070c9cb9c644a17a451da.json">JSON file</a>.</p>

    <p>This program accepts a URL “POST” request</p>
    <ul class="disc">
      <li>The program downloads the contents of the POSTED URL and looks for &lt;blockquote cite="URL1"&gt; and &lt;q cite="URL2"&gt; tags.</li>
      <li>It then downloads the contents of each URL and calculates the context immediately prior and after the quote</li>
      <li>It saves the results to a SQL-lite or PostgreSQL database (todo)</li>
      <li>It saves a JSON file to the local filesystem</li>
      <li>It (optionally) uploads the JSON file up to a Cloud Service</li>
    </ul>

    <h5 class="mt-10 mb-2" style="font-size: 1.25em; font-weight: bold;">2 Ways to run the webservice:</h5>

    <h6 class="mt-10 mb-2 text-green-700" style="font-size: 1.5em; font-weight: bold;">A) Python</h6>
    <p>The webservice is written in Python, using the <a class="underline nonblock" href="https://flask.palletsprojects.com/">Flask framework</a>.</p>
     
      <a href="https://github.com/CiteIt/citeit-webservice" target="_blank" class="w-1/3 mb-3 flex items-center px-8 py-3 border border-transparent text-base font-medium text-white bg-green-500 hover:bg-blue-700 md:text-lg">
      Get Python Code on GitHub
      </a>

     
    <h6 class="mt-10 mb-2 text-green-700" style="font-size: 1.5em; font-weight: bold;">B) Docker</h6>
    <div id="attachment_1186" style="width: 380px; float: right" class="wp-caption alignright"><img aria-describedby="caption-attachment-1186" loading="lazy" class="size-medium wp-image-1186" src="https://www.citeit.net/wp-content/uploads/2019/12/Docker-logo-300x232.png" alt="Docker Logo" width="300" height="232" srcset="https://www.citeit.net/wp-content/uploads/2019/12/Docker-logo-300x232.png 300w, https://www.citeit.net/wp-content/uploads/2019/12/Docker-logo-768x594.png 768w, https://www.citeit.net/wp-content/uploads/2019/12/Docker-logo.png 792w" sizes="(max-width: 300px) 100vw, 300px"><p id="caption-attachment-1186" class="wp-caption-text">Docker Image on <a class="underline nonblock" href="https://hub.docker.com/r/citeit/citeit_webservice">Docker Hub</a></p></div>

    <p>If you don’t want to configure the Python code, you can run the Docker image instead:</p>
    
    <a href="https://hub.docker.com/r/citeit/citeit_webservice" target="_blank" class="mb-6 w-1/3 mb-3 flex items-center px-8 py-3 border border-transparent text-base font-medium text-white bg-green-500 hover:bg-blue-700 md:text-lg">
      Get Docker Hub Image
    </a>

    <h7 class="mt-10 mb-2" style="font-size: 1.1em; font-weight: bold;">Note: Amazon S3 Dependency</h7>
    <p>At this point the webservice <strong>uploads the JSON files to <a class="underline nonblock" href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html">Amazon's S3 service</a></strong>.</p>
    <p>If you want to abstract away this dependency on Amazon, I'd be happy for a <strong>contribution that provides alternatives</strong>.</p>
    <p>(The python code involving Amazon S3 is part of the citation class's <a class="underline nonblock" target="_blank" href="https://github.com/CiteIt/citeit-webservice/blob/master/app/citation.py#LC189:~:text=def%20json_upload(self%2C%20debug%3DFalse)%3A,%23%20Upload%20json%20file%20to%20cloud">json_upload method</a>)</p>


    <h6 class="mt-10 mb-2 text-blue-600" style="font-size: 1.5em; font-weight: bold;">Webservice Calls</h6>
    <ul class="disc">
      <li><a class="underline nonblock" href="https://www.citeit.net/sample-code/">Submit a URL to be Indexed</a></li>
      <li><a class="underline nonblock" href="https://www.citeit.net/sample-code/text-version.php">"Create Text Version" of HTML page &amp; YouTube transcripts</a></li>
    </ul>

  </div>

  <!-- Volunteer -->
  <div id="volunteer" class="hide">
    <h3 class="mb-3" style="font-size: 1.6em; font-weight: bold;">Volunteer</h3>

      <p><a href="https://www.citeit.net/">CiteIt.net</a> is an open-source project (<a class="underline nonblock" href="https://github.com/CiteIt/citeit-webservice/blob/master/LICENSE">MIT license</a>) whose mission to <strong>create a higher standard of citation</strong> is accelerated through the help of volunteers.</p>
      <p>If you know how to code (especially in Python) <a class="underline nonblock" href="https://www.openpolitics.com/tim/">contact Tim</a> to help out.</p>

      <h4 class="mb-3 text-blue-600" style="font-size: 1.4em; font-weight: bold;">Top Tasks</h4>
      <div class="wp-block-image">
      
      <figure class="alignright size-large is-resized"><img loading="lazy" class="wp-image-1578" src="https://www.citeit.net/wp-content/uploads/2020/07/wordpress-gutenberg-logo-1024x512.png" alt="" width="256" height="128" srcset="https://www.citeit.net/wp-content/uploads/2020/07/wordpress-gutenberg-logo-1024x512.png 1024w, https://www.citeit.net/wp-content/uploads/2020/07/wordpress-gutenberg-logo-300x150.png 300w, https://www.citeit.net/wp-content/uploads/2020/07/wordpress-gutenberg-logo-768x384.png 768w, https://www.citeit.net/wp-content/uploads/2020/07/wordpress-gutenberg-logo.png 1280w" sizes="(max-width: 256px) 100vw, 256px"><figcaption>WordPress <a href="https://wordpress.org/gutenberg/">Gutenberg</a></figcaption></figure></div>
      <p>Here are a few of the <strong>top-priority tasks</strong> you can help with.  The <a class="underline nonblock" href="https://www.pivotaltracker.com/n/projects/2144545">(outdated) complete list is in Pivotal Tracker</a></p>

      <ol class="num">
        <li><a class="underline nonblock" href="https://github.com/CiteIt/citeit-wordpress/issues/5">Create WordPress <strong>Gutenberg Block Editor</strong></a> to Replace <a class="underline nonblock" href="https://www.citeit.net/wordpress-plugin/">old WordPress v4 plugin</a>
        <ul class="disc">
            <li>Develop the ability to <a class="underline nonblock" href="https://github.com/CiteIt/citeit-wordpress/issues/5">add metadata</a> to quotes using <a class="underline nonblock" href="http://html5doctor.com/html5-custom-data-attributes/">custom Html attributes</a></li>
        </ul>
        </li>
        <li>Verify Quote before allowing Citation: <strong>Enforce Rules or Flag Suspicious Quotes</strong> that do <strong>not exactly match</strong> the original version, allowing for structured variation:
        <ul class="disc"><li>Modify Parsing to handle <strong>[C]apitalization:</strong>
      <ul class="disc"><li>&ldquo;<strong>[T]</strong>his is a quote that was pulled from the middle of a sentence, but capitalized to fit with the new context&rdquo;</li>
      </ul></li>
      <li>Allow new <strong>[additional] words</strong> to be added if the word is surrounded by brackets.</li>
      <li>Modify Parsing to handle <strong>Elipses ..</strong>
      <ul class="disc"><li>&ldquo;The quote was pulled from a sentence .. and the middle was skipped. This was noted with an ellipse.&rdquo; It would be nice if the <strong>middle of the quote could be expanded.</strong></li>
      </ul></li>
      </ul></li>
      <li>Create a script to <strong>&ldquo;upgrade&rdquo; existing Wikipedia quotes</strong> into Contextual Citations</li>
      <li>Allow <strong>unique specification</strong> if phrase occurs multiple times in a document.
      <ul class="disc"><li>This could be done by specifiying enough of the &ldquo;before&rdquo; and &ldquo;after&rdquo; text to make the phrase unique.</li>
      </ul></li>
      <li>Design an <strong><a class="underline nonblock" href="https://github.com/CiteIt/citeit-webservice/issues/25">interface and Citation Structure for Nested Quotes</a></strong>:
      <ul class="disc"><li>How does CiteIt have to be modified to allow quotations of quotations, nested multiple levels deep?</li>
      </ul></li>
      <li><img loading="lazy" class="wp-image-1581 alignright" src="https://www.citeit.net/wp-content/uploads/2020/07/yt_logo_rgb_light.png" alt="YouTube Logo" width="199" height="45" srcset="https://www.citeit.net/wp-content/uploads/2020/07/yt_logo_rgb_light.png 794w, https://www.citeit.net/wp-content/uploads/2020/07/yt_logo_rgb_light-300x67.png 300w, https://www.citeit.net/wp-content/uploads/2020/07/yt_logo_rgb_light-768x172.png 768w" sizes="(max-width: 199px) 100vw, 199px">
      Make YouTube (and other) <strong>transcripts highlight the current word/s</strong> while the recording plays. This will likely require creating a format for an intermediate data structure which stores the start and end times for each word/phrase in the transcript.&nbsp; (<a href="https://github.com/CiteIt/transcript-to-time-mapping/blob/master/scripts/convert_Google_Speech_to_Text.py">example: YouTube Speech-Text API script</a>)</li>
      <li><a class="underline nonblock" href="https://github.com/CiteIt/citeit-webservice/issues/2">Create a <strong>Standardized Text Version</strong></a> of Every Submitted page. The standardized text version is used to create the <a href="https://read.citeit.net/quote/sha256/0.3/e3/e304937a80d2778436eb2b0cf9f2a69dd036adb6914767c9f3d202aa234620dd.json">contextual JSON file</a> containing the 500 characters before and after the quote
      <img style="float:right; padding-top: 20;" src="/assets/images/pdf-logo.png" alt="PDF Support" width="150" />
      
      <ul class="disc"><li>from HTML</li>
      <li>from PDF</li>
      <li>from Word Doc</li>
      <li>from Open Ofice</li>
      <li>from PowerPoint</li>
      <li>from Image</li>
      </ul></li>
      <li><a class="underline nonblock" href="https://github.com/CiteIt/citeit-webservice/issues/24">Modify Document class</a> to <strong>save a copy of the original file</strong> in its original encoding to S3-style storage
      <ul class="disc"><li><a class="underline nonblock" href="https://github.com/CiteIt/citeit-webservice/issues/23">call archive.org API</a> to <strong>archive the citing and cited pages</strong> if the page is new or the hash has changed
      <ul class="disc"><li>It would be nice if the archive process didn&rsquo;t slow down the citation process. Perhaps this means that the archive process (which could take several seconds) should be done asynchronously.</li>
      </ul></li>
      </ul></li>
      <li><strong>Setup Tests</strong> to verify that changes to the web service do not break existing quotes.
      <ul class="disc"><li>Setup CI Server to run tests before Github commits code</li>
      </ul></li>
      <li>Add Ability to <strong>Standardize Quotes on Canonical Sources</strong>
      <ul class="disc"><li>The Bible has multiple versions and translations. Can quotation be done in a way that quotes from different versions and different websites are standardized?</li>
      </ul></li>
      <li>Create a streamlined process of uploading audio and <strong>creating transcripts from Google Speech-to-Text</strong>. See work already done in <a class="underline nonblock" href="https://github.com/CiteIt/transcript-to-time-mapping">Git Repo</a>. Example: <a class="underline nonblock" href="https://newbooksnetwork.com/jonathan-steinberg-bismarck-a-life-oxford-up-2011-3/">Otto von Bismark biography</a>. (<a class="underline nonblock" href="https://www.openpolitics.com/tag/transcribe/">Links</a>)</li>
      <li>Develop a web interface to <strong>crowdsource</strong> the process of <strong>cleaning up auto-generated transcripts.</strong> Would a wiki be of use here?</li>
      </ol>

      <h4 class="mt-10 mb-2 text-blue-700" style="font-size: 1.5em; font-weight: bold;">Interested?</h4>
      <p><strong><a class="underline nonblock" href="https://www.openpolitics.com/tim/">Contact Tim</a></strong></span> if you&rsquo;re interested in helping.</p>

  </div>

  <!-- Future Plans -->
  <div id="license" class="hide">
    <h3 class="mb-3" style="font-size: 1.8em; font-weight: bold;">License: MIT</h3>
    <a class="underline" href="https://opensource.org/licenses/MIT"><img style="float: right" src="/assets/images/OSIApproved_1.png" alt="Open Source Initiative Approved License" width="250" /></a>

    <p>I released the CiteIt client and server code under the <a class="underline" href="https://opensource.org/licenses/MIT">MIT License</a> because I want 
    the concept of <strong>Contextual Citations</strong> to spread as widely as possible.</p>

    <h4 class="mt-10 mb-2 text-blue-600" style="font-size: 1.5em; font-weight: bold;">What is the MIT License?</h4>
    <blockquote cite="https://en.wikipedia.org/wiki/MIT_License">The MIT License is a <a class="underline" href="https://en.wikipedia.org/wiki/Permissive_free_software_license">permissive free software license</a> originating at the 
    <a class="underline" href="https://en.wikipedia.org/wiki/Massachusetts_Institute_of_Technology">Massachusetts Institute of Technology</a> (MIT)[6] in the late 1980s.[7] As a permissive license, it puts only very limited restriction on reuse and has, therefore, <a class="underline" href="https://en.wikipedia.org/wiki/License_compatibility">high license compatibility</a>.</blockquote>

    <h4 class="mt-10 mb-2 text-blue-600" style="font-size: 1.5em; font-weight: bold;">Commercial-Friendly:</h4>
    <p>Some people and companies are wary about using open source software that <strong><a class="underline nonblock" href="https://opensource.org/licenses/gpl-license">requires them to make their revisions open source</a></strong>.</p>

    <p>I wanted to take away this reason not to adopt CiteIt so I chose an open source license that <strong>does not have the requirement</strong> that derivative works be open-sourced.  Use it as you like.  <strong class="text-green-700">Feel free to sell your derivative works</strong> without revealing your source code changes. &nbsp; Just don't sue me! &nbsp;&nbsp;  :-)</p>
    
    <h4 class="mt-10 mb-2 text-green-700" style="font-size: 1.5em; font-weight: bold;">The MIT License Text</h4>
    
    <p>Copyright &lt;YEAR&gt; &lt;COPYRIGHT HOLDER&gt;</p>

    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

    <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
 
  </div>

  </div> <!--list-wrap-->

</div><!--example-one-->

  <style>
    div#wordpress h5 {
      font-weight: 800 !important;
      color: #333;
    }


  </style>

  <script>
    jQuery( document ).ready(function() {
      jQuery("#page-tabs").organicTabs();

    });
  </script>

</div>

{% include "_includes/footer.njk" %}



{% endblock %}
