---
title: Hello
---

{% extends "_includes/default.njk" %}

{% block title %}CiteIt - Building trust in media{% endblock %}


{% block content %}
{% include "_includes/nav.njk" %}
{% include "_includes/header.njk" %}
{% include "_includes/examples.njk" %}
{% include "_includes/footnotes.njk" %}
{% include "_includes/footer.njk" %}

{% endblock %}