
<div class="mt-16 mx-auto max-w-7xl px-4 sm:px-6 ">
    <div class="lg:text-center">
      <h2 class="text-base text-blue-600 font-semibold tracking-wide uppercase">Use CiteIt</h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">
        Use CiteIt's Contextual Citations: 
      </p>
      <!--p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        Use <strong>"CiteIt blockquote" button</strong> for longer expanding citations.<br />Use <strong>"CiteIt inline popup"</strong> for shorter quotations.
      </p-->
    </div>

<div>
  <div class="">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <a href="#"
            class="border-blue-500 text-blue-600 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-lg" aria-current="page">
            <svg class="text-blue-600 group-hover:text-blue-600 -ml-0.5 mr-2 h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <span>Try Live Editor</span>
        </a>
        <a href="#"
            class="border-blue-500 text-blue-600 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-lg" aria-current="page">
            <svg class="text-blue-600 group-hover:text-blue-600 -ml-0.5 mr-2 h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <span>Try Live WordPress Plugin</span>
        </a>

        <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-lg">
            <svg class="text-gray-500 group-hover:text-gray-500 -ml-0.5 mr-2 h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
            <span>How to Add CiteIt to your Site</span>
        </a>
      </nav>
    </div>
  </div>
</div>

<section class="bg-white overflow-hidden">
  <div class="relative max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8 lg:mt-16">
    <div class="relative lg:flex lg:items-center">
      <div class="mt-8 lg:block lg:flex-shrink-0 lg:order-1">

<p>Use the <strong>"CiteIt blockquote" button</strong> to add contextual data to a quote.</p>
<br />
<h3 style="font-size: 1.3em; font-weight: bold;">Instructions:</h3>
<ol class="num">
<li><strong>Copy</strong> the above URL to your clipboard.</li>
<li><strong>Highlight</strong> the quote below #1: (<em>Nothing is more certainly written .."</em>)</li>
<li>Click the <strong>"CiteIt blockquote" button </strong>(in the editor toolbar above)<strong>.</strong></li>
<li>When prompted, <strong>Enter the URL</strong> for the Yale library that you have on your clipboard.</li>
</ol>

<!--Form: Demo Citations -->
<form id="citation_demo_form" method="post"> <!--action="http://api.citeit.net/demo_post/" -->
<input type="hidden" id="post_url" name="post_url" value="https://www.citeit.net/" />

<textarea id="post_body" name="post_body" rows="50" cols="70">
<h3>1) Add URL an existing quote:</h3>
<ul class="disc">
<li>https://avalon.law.yale.edu/19th_century/jeffauto.asp</li>
</ul>
<p>&nbsp;</p>
<p>Nothing is more certainly written in the book of fate than that these people are to be free.</p>
<p>&nbsp;</p>
<h3>2) Pick your own quote:</h3>
<ul class="disc">
<li>Go to <a href="https://news.google.com">google news</a> and find a quote from an article to copy and paste below, or</li>
<li>Pick your favorite web page to quote.</li>
</ul>
<h4>Enter Quote below and add the URL using one of the CiteIt buttons (above):</h4>
<p>&gt;&gt;&nbsp;&nbsp;</p>
<h4>Results:</h4>
<ol class="disc">
<li>Click the <strong>Green Save button</strong>.</li>
<li>Your Quote should appear <strong>below</strong> the <strong>"Save button"</strong>.</li>
<li>You should see <strong>expanding blue arrows</strong> above and below the selected quote.</li>
</ol>
<p>&nbsp;</p>
</textarea><br />
<input type="submit" class="submit " value="Save" />
</form><br />
<!--End Form -->

<div id="result"></div>

<br />
<br />
<br />
<br />
<br />


<script>

    /*  Convert TextArea into TinyMce Editor */
    tinymce.init({
      selector: '#post_body',
      height: 480,
      toolbar: 'formatselect | bold italic | alignleft aligncenter alignright | bullist numlist | citeit_blockquote | citeit_inline_popup | code',
      plugins: [
        'autolink lists link image anchor textcolor',
        'code fullscreen',
        'media table paste code'
      ],
      menubar: false,
      mobile: { 
        theme: 'mobile' 
      },
      content_css: [
        '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i'
      ],
      
      setup: function (editor) {

        editor.addButton('citeit_blockquote', {
          text: 'CiteIt blockquote',
          image: 'https://www.citeit.net/wp-content/plugins/CiteIt.net/img/CiteIt-logo-blockquote.png',
          icon: false,
          onclick: function() {
                    editor.windowManager.open( {
                        title: 'Insert blockquote link',
                        tooltip: 'Add CiteIt blockquote',

                        body: [{
                            type: 'textbox',
                            name: 'cite',
                            label: 'Quote Source Link'
                        }],
                        onsubmit: function( e ) {
                            editor.insertContent( '<blockquote cite="' + e.data.cite + '">' + editor.selection.getContent({format : 'html'}) + '</blockquote>');
                        }
                    });
          }
        });

        editor.addButton('citeit_inline_popup', {
          text: 'CiteIt inline popup',
                /* image: 'https://www.citeit.net/wp-content/plugins/CiteIt.net/img/citeit-logo-c-90.png', */
          icon: false,
          onclick: function() {
                    editor.windowManager.open( {
                        title: 'Insert inline popup',
                        tooltip: 'Add CiteIt inline popup',
                        body: [{
                            type: 'textbox',
                            name: 'cite',
                            label: 'Quote Source Link'
                        }],
                        onsubmit: function( e ) {
                            editor.insertContent( '<q cite="' + e.data.cite + '">' + editor.selection.getContent({format : 'html'}) + '</q>');
                        }
                    });
          }
        });
      }
    });



    /* attach a submit handler to the form */
    $("#citation_demo_form").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var $form = $(this),
            post_url = $form.find('input[name="post_url"]').val(),
            post_body = $form.find('input[name="post_body"]').val(),
            url = $form.attr('action');

        /* Send the data using post */
        var posting = $.post(url, {
            s: term
        });

        /* Put the results in a div */
        posting.done(function(data) {
            var content = $(data).find('#content');
            $("#result").empty().append(content);
        });
    });

</script>


      </div>
    </div>
  </div>
</section>


