
<div class="mt-16 mx-auto max-w-7xl px-4 sm:px-6 ">
    <div class="lg:text-center">
      <h2 class="text-base text-blue-600 font-semibold tracking-wide uppercase">Demos</h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">
        Add advanced contextual citation to your media
      </p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        CiteIt has tools that allow you to add context to your media, whether it is written word, video, or audio.
      </p>
    </div>

<div>
  <div class="">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <a href="#"
            class="border-blue-500 text-blue-600 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-lg" aria-current="page">
            <svg class="text-blue-600 group-hover:text-blue-600 -ml-0.5 mr-2 h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <span>Writing</span>
        </a>
        <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-lg">
            <svg class="text-gray-500 group-hover:text-gray-500 -ml-0.5 mr-2 h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
            <span>Video</span>
        </a>
        <!-- Current: "border-blue-500 text-blue-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-lg">
          <!-- Current: "text-blue-500", Default: "text-gray-400 group-hover:text-gray-500" -->
            <svg class="text-gray-500 group-hover:text-gray-500 -ml-0.5 mr-2 h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
            </svg>
          <span>Audio</span>
        </a>
      </nav>
    </div>
  </div>
</div>

<section class="bg-white overflow-hidden">
  <div class="relative max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8 lg:mt-16">
    <div class="relative lg:flex lg:items-center">
      <div id="callout-quote-1"
        class="border bg-yellow-200 mt-10 p-4 lg:absolute lg:right-24 lg:-top-20 animate-pulse"
      >
        Click on blue box below to see the quote in context.
      </div>
      <div class="relative mt-16 lg:ml-10 lg:order-2">
        <svg class="absolute top-0 left-0 transform -translate-x-4 -translate-y-8 h-12 w-12 text-blue-200 opacity-100" stroke="currentColor" fill="none" viewBox="0 0 144 144" aria-hidden="true">
          <path stroke-width="4" d="M41.485 15C17.753 31.753 1 59.208 1 89.455c0 24.664 14.891 39.09 32.109 39.09 16.287 0 28.386-13.03 28.386-28.387 0-15.356-10.703-26.524-24.663-26.524-2.792 0-6.515.465-7.446.93 2.327-15.821 17.218-34.435 32.11-43.742L41.485 15zm80.04 0c-23.268 16.753-40.02 44.208-40.02 74.455 0 24.664 14.891 39.09 32.109 39.09 15.822 0 28.386-13.03 28.386-28.387 0-15.356-11.168-26.524-25.129-26.524-2.792 0-6.049.465-6.98.93 2.327-15.821 16.753-34.435 31.644-43.742L121.525 15z" />
        </svg>
        <blockquote class="relative">
          <div x-data="citation()"
            class="text-xl leading-9 font-medium text-gray-900 px-10">
            <div x-on:click="showQuoteContext">
              <p class="bg-blue-100 p-4 border bg-opacity-60 cursor-pointer hover:bg-blue-200">
                Nothing is more certainly written in the book of fate than that these people are to be free.
              </p>
              </div>
          </div>
          <footer class="mt-8">
            <div class="flex">
              <div class="ml-10 lg:ml-10">
                <div class="text-base font-semibold text-gray-900">Thomas Jefferson</div>
                <div class="text-base font-medium text-gray-900">Founding Father of USA</div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
      <div class="lg:block lg:flex-shrink-0 lg:order-1">
        <img class="mx-auto w-80 sm:w-96" src="/assets/images/jefferson-memorial-statue-1-2048x1078.jpg" alt="">
      </div>
    </div>
  </div>
</section>

</div>

<div x-data="quoteContext()" id="quote-context-1" class="hidden absolute bg-gray-100 border border-gray-400 z-10 opacity-0 transition-opacity duration-2000">
    <div class="sm:block absolute top-0 right-0 pt-4 pr-4">
      <button type="button" x-on:click="closeQuoteContext"
        class="text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <span class="sr-only">Close</span>
        <!-- Heroicon name: x -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="bg-gray-200 p-4 border-b-1 border-gray-800">
      CiteIt: Advanced Contextual Citation
    </div>
    <div class="p-6">
      <span>
        The bill on the subject of slaves was a mere digest of the existing laws respecting them, without any intimation of a plan for a future & general emancipation. It was thought better that this should be kept back, and attempted only by way of amendment whenever the bill should be brought on. The principles of the amendment however were agreed on, that is to say, the freedom of all born after a certain day, and deportation at a proper age. But it was found that the public mind would not yet bear the proposition, nor will it bear it even at this day. Yet the day is not distant when it must bear and adopt it, or worse will follow.
      </span>
      <span class="bg-yellow-100">
        Nothing is more certainly written in the book of fate than that these people are to be free.
      </span>
      <span>
        Nor is it less certain that the two races, equally free, cannot live in the same government. Nature, habit, opinion has drawn indelible lines of distinction between them. It is still in our power to direct the process of emancipation and deportation peaceably and in such slow degree as that the evil will wear off insensibly, and their place be pari passu filled up by free white laborers. If on the contrary it is left to force itself on, human nature must shudder at the prospect held up. We should in vain look for an example in the Spanish deportation or deletion of the Moors. This precedent would fall far short of our case.
      </span>
    </div>
</div>


<script>

    function citation() {
        return {
            showQuoteContext(event) {
                console.log('open quote');

                let quoteRect = event.target.getBoundingClientRect();
                let quoteContextElement = document.getElementById('quote-context-1');
                console.log(event.target);
                console.log(quoteRect);
                quoteContextElement.style.top = quoteRect.top + 'px';
                quoteContextElement.style.left = quoteRect.left + 'px';
                quoteContextElement.style.width = quoteRect.width + 'px';
                quoteContextElement.style.display = "block";
                let contextRect = quoteContextElement.getBoundingClientRect();
                console.log(contextRect);
                quoteContextElement.style.top = quoteRect.top - contextRect.height/2 + quoteRect.height + 'px';
                quoteContextElement.style.opacity = 1;

                let calloutElement = document.getElementById('callout-quote-1');
                calloutElement.classList.remove('animate-pulse');

            }
        }
    }

    function quoteContext() {
      return {
          closeQuoteContext(event) {
            let quoteContextElement = document.getElementById('quote-context-1');
            quoteContextElement.style.opacity = 0
            setTimeout(function () {
              quoteContextElement.style.display = "none";
            }, 2000);
          }
      }
    }

</script>