

<div class="mt-6 mx-auto max-w-7xl px-4 sm:px-6 ">
    <div class="lg:text-center">
      <h2 style="width: 95%; text-align:center;" class="text-base text-blue-600 font-semibold tracking-wide uppercase">Demos</h2>
      <p style="width: 95%; text-align:center;" class="mt-2 mx-auto text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">
        Using CiteIt with different Media Types
      </p>
      <p style="width: 95%; text-align:center;" class="mt-4 mb-12 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        CiteIt is developing tools that allow you to add context to your media, whether it is written word, audio, video, wikipedia, or twitter.
      </p>
    </div>

<div>
  <div class="">
    <div class="border-b border-gray-200">
      <nav id="media_types" class="-mb-px flex space-x-12" aria-label="Tabs">
        <a href="#writing"
            class="border-blue-500 text-blue-600 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-lg" aria-current="page">
            <svg class="text-blue-600 group-hover:text-blue-600 -ml-0.25 mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <strong><span>Writing</span></strong>
        </a>

        <a href="#wikipedia" class="border-transparent text-gray-900 hover:text-gray-700 hover:border-gray-900 group inline-flex items-center py-0 px-0 border-b-0 font-medium text-md">
          <picture>
              <source srcset="/assets/images/Wikipedia-logo-v2-40.webp" type="image/webp">
              <source srcset="/assets/images/Wikipedia-logo-v2-40.png" type="image/png">
              <img src="/assets/images/Wikipedia-logo-v2-40.png" alt="Wikipedia logo" width="40" height="37" class="lazyload" />
          </picture>&nbsp;
          <strong><span>Wikipedia</span></strong>
        </a>

        <a href="#youtube" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-900 group inline-flex items-center py-0 px-0 border-b-0 font-medium text-md">
        <picture>
            <source srcset="/assets/images/yt_logo_rgb_light.webp" type="image/webp">
            <source srcset="/assets/images/yt_logo_rgb_light.png" type="image/png">
            <img src="/assets/images/yt_logo_rgb_light.png" alt="YouTube Video" width="89" height="20" class="lazyload" />
        </picture></a>

        <a href="#twitter" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-900 group inline-flex items-center py-0 px-0 border-b-2 font-medium text-md">
          <picture>
              <source srcset="/assets/images/Twitter-Logo-blue-small-40.webp" type="image/webp">
              <source srcset="/assets/images/Twitter-Logo-blue-small-40.png" type="image/png">
              <img src="/assets/images/Twitter-Logo-blue-small-40.png" alt="Twitter logo" width="40" height="33" class="lazyload" />
          </picture>
        <strong><span>Twitter</span></strong>
        </a>

      </nav>
    </div>
  </div>
</div>

<div class="panel-intro">


<a id="writing"></a>
<h3 style="font-size: 1.6em; font-weight: bold;">Writing</h3>
<br />

<h4 style="font-size: 1.3em; font-weight: bold;">1. Expanding blockquote</h4>

<p><strong class="highlight">Click on the blue arrows</strong> above and below the quote to <strong>expand the context</strong>:</p>

<div class="wp-block-image"><figure class="alignright size-large is-resized">
<picture>
    <source srcset="/assets/images/rabbi-david-wolpe.webp" type="image/webp">
    <source srcset="/assets/images/rabbi-david-wolpe.jpg" type="image/jpeg">
    <img src="/assets/images/rabbi-david-wolpe.jpg" alt="Rabbi David Wolpe" width="230" height="239" class="lazyload" />
</picture>
<a id="rabbi-david-wolpe-caption" class="underline" href="https://en.wikipedia.org/wiki/David_Wolpe">Rabbi David Wolpe</a> 
</figure></div>

<p id="rabbi-david-wolpe-intro"><a class="underline mb-12" href="https://en.wikipedia.org/wiki/Tyler_Cowen">Tyler Cowen</a> interviewed <a class="underline" href="https://en.wikipedia.org/wiki/David_Wolpe">Rabbi David Wolpe</a> as part of his <a class="underline" href="https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d">Conversations with Tyler Series</a>.  Rabbi Wolpe said:</p>

<blockquote cite="https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d">I think that Judaism has the same problem that any thick civilization has in a world in which, as you say, <strong>context is stripped away</strong>. And not only is context stripped away, but attention to any one thing is scanter and less than it used to be. So, for example, a lot of Jewish commentary is based on your recognizing the reference that I make. Who recognizes references anymore? Because people don’t spend years studying books.</blockquote>

<span class="code">HTML code:</span> <div class="code"><strong>&lt;blockquote cite</strong>="https://medium.com/conversations-with-tyler/rabbi-david-wolpe-leaders-religion-israel-identity-7c159c2ed2d"&gt;<br />
I think that Judaism has the same problem that any thick civilization has in a world in which, as you say, &lt;strong&gt;context is stripped away&lt;/strong&gt;. And not only is context stripped away, but attention to any one thing is scanter and less than it used to be. So, for example, a lot of Jewish commentary is based on your recognizing the reference that I make. Who recognizes references anymore? Because people don’t spend years studying books.<br /> 
<strong>&lt;/blockquote&gt;</strong></div>

<div class="wp-block-image"><figure class="alignright size-large is-resized">
<picture>
    <source srcset="/assets/images/pride-and-prejudice.webp" type="image/webp">
    <source srcset="/assets/images/pride-and-prejudice.png" type="image/png">
    <img src="/assets/images/pride-and-prejudice.png" alt="Pride &amp; Prejudice" width="230" height="151" class="lazyload" />
</picture>
<a class="underline" href="https://en.wikipedia.org/wiki/Pride_and_Prejudice">Jane Austen's Pride &amp; Prejudice</a>
</figure></div>

<a href="/sample-code/examples.html">Learn More about the CiteIt javascript library</a> and <a href="/sample-code//">webservice</a> that looks up the quote context.

<h4 class="mt-10" style="font-size: 1.3em; font-weight: bold;">2. Contextual Popup</h4>
<p>Jane Austen&rsquo;s &ldquo;<a class="underline" href="https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5">Pride and Prejudice</a>&rdquo; draws its title, in part from a line where the books&rsquo;s main character, Elizabeth says:&nbsp;<q cite="https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5">&nbsp;I could easily forgive&nbsp;<i>his</i>&nbsp;pride, if he had not mortified&nbsp;<i>mine.</i></q>&nbsp; &nbsp;

<br /><br /><p><span class="highlight">Click on blue-grey quote above:</span> ("I could easily forgive his pride ..")</p>
<br />
<span class="code">HTML code:</span> <div class="code">..  Elizabeth says:&nbsp;<strong>&lt;q cite</strong>="https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5" data-citeit-citing-url="cite="https://en.wikisource.org/wiki/Pride_and_Prejudice/Chapter_5/"&gt;&nbsp;I could easily forgive&nbsp;&lt;i&gt;his&lt;/i&gt;&nbsp;pride, if he had not mortified&nbsp;&lt;i&gt;mine.&lt;/i&gt;<strong>&lt;/q&gt;</strong>&nbsp; &nbsp;

</div>
<!-- Comment out PDF Support:
<br />
<h4 style="font-size: 1.3em; font-weight: bold;">Quoting PDF Documents</h4>
<p>You may have seen the T-shirt "<strong>Well-behaved Women Seldom make History</strong>".</p>


<div class="wp-block-image"><figure class="alignright size-large is-resized">
<img class="feature" src="/assets/images/well-behaved-women-seldom-make-history.jpg" alt="Well-behaved Women Seldom Make History" /><br />
Source: &nbsp; <a class="underline" href="https://dash.harvard.edu/bitstream/handle/1/14123819/Vertuous%20Women%20Found.pdf">American Quarterly</a> 
</figure></div>
<br />

<p>Harvard Professor Laurel Thatcher Ulrich‘s comment that <q cite="https://dash.harvard.edu/bitstream/handle/1/14123819/Vertuous%20Women%20Found.pdf">Well-behaved women seldom make history</q> makes more sense if the reader has an easy way to inspect the context from her 1976 article from <a class="underline" href="https://dash.harvard.edu/bitstream/handle/1/14123819/Vertuous%20Women%20Found.pdf">American Quarterly</a>. 
(<span class="highlight">click the blue-grey link</span>)</p>
<br />

<span class="code">HTML code:</span>
<div class="code">
Harvard Professor Laurel Thatcher Ulrich‘s comment that <strong>&lt;q cite= "https://dash.harvard.edu/clip/Women%20Found.pdf</strong>"&gt; Well-behaved women seldom make history<strong>&lt;/q&gt;</strong> makes more sense if the reader has an easy way to inspect the context from her 1976 article from American Quarterly. 
(click the blue-grey link)
</div>

<br />

<p>CiteIt's python webservice is able to read and quote from PDFs, but the <strong>Docker version can not (yet)</strong>.</p>
<p>In the future, I would like CiteIt's public service that runs on Docker to support PDF and Docx. <br /><br />
<p>If you would like to volunteer to help add PDF and Docs support to the Docker image, check out the <a class="underline" href="/volunteer/">Volunteer page</a> and send me an email.</p -->

<a id="wikipedia"></a>
<br /><br />

<h3 style="font-size: 1.8em; font-weight: bold;">Wikipedia Citations</h3><br />

<h4 style="font-size: 1.3em; font-weight: bold;">Article Popups</h4>
<p>Wikimedia already has <strong>contextual popups</strong> which appear when a reader mouses over a linked article.</p>

<p>Here’s a <strong>screenshot of the popup</strong> that appears on the Los Angeles Lakers article when a reader mouses over the link to the Los Angeles Sparks Basketball team.</p>
<picture>
    <source srcset="/assets/images/Wikipedia-article-popups.webp" type="image/webp">
    <source srcset="/assets/images/Wikipedia-article-popups.png" type="image/png">
    <img class="thin-border lazyload" src="/assets/images/Wikipedia-article-popups.png" alt="Wikipedia: Article Popup" width="494" height="601" />
</picture>
<strong>Example</strong>: <a class="underline" href="https://en.wikipedia.org/wiki/Los_Angeles_Lakers">popup used by Wikipedia article</a>
<br /><br />

<h4 style="font-size: 1.3em; font-weight: bold;">Contextual Popup<h4>
<p>Below is a <strong>screenshot</strong> of the <strong><a class="underline" target="_blank" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg#start">Ruth Bader Ginsburg article</a></strong> mockup which shows the <strong>CiteIt Contextual Popup</strong> that appears when a reader clicks on the light grey-blue text of a contextual quotation, in this case: “<strong>Ginsburg precedent</strong>“.</p>
<picture>
    <source srcset="/assets/images/Wikipedia-article-RBG-screenshot-1-644x1195.webp" type="image/webp">
    <source srcset="/assets/images/Wikipedia-article-RBG-screenshot-1-644x1195.png" type="image/png">
    <img class="thin-border lazyload" src="/assets/images/Wikipedia-article-RBG-screenshot-1-644x1195.png" alt="Wikipedia: Article Popup" width="644" height="1195" />
</picture>

<strong>Example</strong>: Proposed <a class="underline" target="_blank" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg">Ruth Bader Gingsburg Wikipedia article</a> with CiteIt Contextual Popup
<br />
<br />
<br />
<h4 style="font-size: 1.6em; font-weight: bold;">Sample Wikipedia Articles</h4>
<p>Click on an image below to view <strong>sample Wikipedia articles</strong> that feature contextual quotations.</p>
<br />
<div class="feature">
  <a href="https://demo-sites.citeit.net/en.wikipedia.org/wiki/Inauguration_of_John_F._Kennedy" target="_blank">
  <picture>
      <source srcset="/assets/images/john-f-kennedy-cropped.webp" type="image/webp">
      <source srcset="/assets/images/john-f-kennedy-cropped.png" type="image/png">
      <img src="/assets/images/john-f-kennedy-cropped.png" class="wiki-photo lazyload" alt="John F. Kennedy Portrait" height="225" width="173" />
  </picture></a>
  <a class="underline" href="https://demo-sites.citeit.net/en.wikipedia.org/wiki/Inauguration_of_John_F._Kennedy" target="_blank">John F. Kennedy</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg" target="_blank">
  <picture>
      <source srcset="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.webp" type="image/webp">
      <source srcset="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.jpg" type="image/jpeg">
      <img src="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.jpg" class="wiki-photo lazyload" alt="Ruth Bader Ginsburg Portrait" height="225" width="180" />
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg" target="_blank">Ruth Bader Ginsburg</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hillary_Clinton" target="_blank">
  <picture>
      <source srcset="/assets/images/hillary-clinton.webp" type="image/webp">
      <source srcset="/assets/images/hillary-clinton.jpg" type="image/jpeg">
      <img src="/assets/hillary-clinton.jpg" class="wiki-photo lazyload" alt="Hillary Clinton photo by Gage Skidmore" height="225" width="169">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hillary_Clinton" target="_blank">Hillary Clinton</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Donald_Trump" target="_blank">
  <picture>
      <source srcset="/assets/images/Donald_Trump_official_portrait.webp" type="image/webp">
      <source srcset="/assets/images/Donald_Trump_official_portrait.jpg" type="image/jpeg">
      <img src="/assets/images/Donald_Trump_official_portrait.jpg " class="wiki-photo lazyload" alt="Donald Trump official portrait" height="225" width="178">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Donald_Trump" target="_blank">Donald Trump</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hamlet" target="_blank">
  <picture>
      <source srcset="/assets/images/Edwin_Booth_Hamlet_1870.webp" type="image/webp">
      <source srcset="/assets/images/Edwin_Booth_Hamlet_1870.jpg" type="image/jpeg">
      <img src="/assets/images/Edwin_Booth_Hamlet_1870.jpg" alt="Wikipedia: Article Popup" width="174" height="225" class="lazyload">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hamlet" target="_blank">Hamlet</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Pride_and_Prejudice" target="_blank">
  <picture>
      <source srcset="/assets/images/pride-and-prejudice.webp" type="image/webp">
      <source srcset="/assets/images/pride-and-prejudice.png" type="image/png">
      <img src="/assets/images/pride-and-prejudice.png" class="wiki-photo lazyload" alt="Pride and Prejudice" height="225" width="343">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Pride_and_Prejudice" target="_blank">Pride and Prejudice</a>
</div>


<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Manned_Orbiting_Laboratory" target="_blank">
  <picture>
      <source srcset="/assets/images/480px-MOL_USAF.webp" type="image/webp">
      <source srcset="/assets/images/480px-MOL_USAF.png" type="image/png">
      <img src="/assets/images/480px-MOL_USAF.png" alt="Manned Orbital Laboratory" height="225" width="283" class="lazyload">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Manned_Orbiting_Laboratory" target="_blank">Manned Orbital Laboratory</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Syphilis" target="_blank">
  <picture>
      <source srcset="/assets/images/Syphilis.webp" type="image/webp">
      <source srcset="/assets/images/Syphilis.jpg" type="image/jpeg">
      <img src="/assets/images/Syphilis.png" class="wiki-photo lazyload" alt="Syphilis"  height="225" width="239">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Syphilis" target="_blank">Syphilis</a>
</div>

<br style="clear:both" />
<p class="mt-7"><strong><a class="underline highlight" href="https://www.citeit.net/2020/11/02/open-source-project-seeks-machine-learning-expertise-for-new-wikipedia-citation-feature/">Machine Learning Volunteer Wanted</a></strong> to help convert existing Wikipedia footnotes to contextual citations.</p>

<br /><br />
<a id="youtube"></a>

<h3 style="font-size: 1.8em; font-weight: bold;">YouTube Citations</h3>
<br />
<div class="wp-block-image"><figure class="alignright size-large is-resized">
<picture>
    <source srcset="/assets/images/James_Burke_(historian).webp" type="image/webp">
    <source srcset="/assets/images/James_Burke_(historian).jpg" type="image/jpeg">
    <img src="/assets/images/James_Burke_(historian).jpg" alt="James Burke (Historian)" width="309" height="236" class="lazyload">
</picture>
<a class="underline" href="https://en.wikipedia.org/wiki/Connections_(TV_series)" target="_blank">James Burke's</a> (Connections TV Series)
</figure></div>

<h4 style="font-size: 1.3em; font-weight: bold;">Library of Alexandria Video</h4>
<p>Consider how adding the video's YouTube URL to the blockquote's cite tag allows the <a class="underline" href="/code/developers/">CiteIt.net javascript library</a> to 
embed the video and <strong>locate the surrounding transcript</strong> (if a <strong>matching transcript</strong> is found).  &nbsp;&nbsp;<br /><span class="highlight">↓ Click: "Expand: Show Video Clip" ↓</span></p>
<br />
<blockquote cite="https://youtu.be/1NqRbBvujHY?t=398">Now, they got these scrolls, either because the local scholars wrote them or because they had a rather crafty law. See, if you came to Alexandria on a boat and you owned a book you had to lend it to the library to be copied. And sometimes the copies were so good the owners went off with the fakes and the library kept the original.</blockquote>

<span class="code">HTML code:</span>
<div class="code"><strong>&lt;blockquote cite="https://youtu.be/1NqRbBvujHY?t=398"&gt;</strong>Now, they got these scrolls, either because the local scholars wrote them or because they had a rather crafty law. See, if you came to Alexandria on a boat and you owned a book you had to lend it to the library to be copied. And sometimes the copies were so good the owners went off with the fakes and the library kept the original.<strong>&lt;/blockquote&gt;</strong></div>

<br />
<h4 style="font-size: 1.3em; font-weight: bold;">Malcolm Gladwell Interview: "Westerns"</h4>
<p><strong>HTML Formatting is allowed</strong> within a citation, so long as the <strong>plain-text version matches the original</strong> quote's plain-text version.</p>

<p class="mt-8">Here is a quotation from Joe Rogan's interview with <strong>Malcolm Gladwell</strong>.</p>

<div class="wp-block-image">
<figure class="alignright size-large is-resized"><a href="https://en.wikipedia.org/wiki/Malcolm_Gladwell">
<picture>
    <source srcset="/assets/images/Malcolm-Gladwell.webp" type="image/webp">
    <source srcset="/assets/images/Malcolm-Gladwell.jpg" type="image/jpeg">
    <img src="/assets/images/Malcolm-Gladwell.jpg" alt="Malcolm Gladwell" width="283" height="280" class="lazyload">
</picture></a>
<a class="underline" target="_blank" href="https://en.wikipedia.org/wiki/Malcolm_Gladwell">Malcolm Gladwell</a></figure>
</div>
<blockquote cite="https://youtu.be/OnEjzmR9Hvw?t=231">
<ol class="num">
<li>a <b>Western</b> is where is conceptually a world in which <b>there is no law and order</b> and a man shows up and <b>imposes personally law and order on the territory</b> the community right 
</li>
<li>so there is also a <b>eastern</b> what is in Eastern and Eastern is a place where by contrast is a story where they're like I got this straight it was four types the Eastern is where there is law and order there is so <b>there are institutions of Justice</b> but they are have been <b>subverted by people from within</b> so an Eastern would be the Serpico is an Eastern it's a <b>crooked cop</b> who is it's the bad apple who has you know screwed up there there's lots of tons and tons of of Hollywood movies are Easterns</li>
<li>the <b>northern</b> is the case where law and <b>order exists and law notre is morally righteous system</b> works law know that show law and order is a northern it's a functioning apparatus of Justice which reliably and accurately produces the right the correct result in confronting criminality every single day when it's on TV</li>
<li>the <b>southern</b> is where the the entirely the southern is all <b>John Grisham novels</b> or Southern's they are where the <b>entire apparatus is corrupt</b> and where the reformer is not an insider but an <b>outsider</b></li>
</ol>
</blockquote>
<br />
<span class="code">HTML code:</span>
<div class="code">
<strong>&lt;blockquote cite="https://youtu.be/OnEjzmR9Hvw?t=231"&gt;</strong><br />
&lt;ol class="num"&gt;<br />
&lt;li&gt;a &lt;b&gt;Western&lt;/b&gt; is where is conceptually a world in which &lt;b&gt;there is no law and order&lt;/b> and a man shows up and &lt;b>imposes personally law and order on the territory&lt;/b&gt; the community right <br />
&lt;li&gt;so there is also a &lt;b&gt;eastern&lt;/b&gt; what is in Eastern and Eastern is a place where by contrast is a story where they're like I got this straight it was four types the Eastern is where there is law and order there is so &lt;b&gt;there are institutions of Justice&lt;/b&gt; but they are have been &lt;b&gt;subverted by people from within&lt;/b&gt; so an Eastern would be the Serpico is an Eastern it's a &lt;b&gt;crooked cop&lt;/b&gt; who is it's the bad apple who has you know screwed up there there's lots of tons and tons of of Hollywood movies are Easterns&lt;/li&gt;<br />
&lt;li&gt;the &lt;b>northern&lt;/b&gt; is the case where law and &lt;b&gt;order exists and law notre is morally righteous system&lt;/b&gt; works law know that show law and order is a northern it's a functioning apparatus of Justice which reliably and accurately produces the right the correct result in confronting criminality every single day when it's on TV&lt;/li&gt;<br />
&lt;li&gt;the &lt;b&gt;southern&lt;/b&gt; is where the the entirely the southern is all &lt;b&gt;John Grisham novels&lt;/b&gt; or Southern's they are where the &lt;b&gt;entire apparatus is corrupt&lt;/b&gt; and where the reformer is not an insider but an &lt;b&gt;outsider&lt;/b&gt;&lt;/li&gt;<br />
&lt;/ol&gt;<br />
<strong>&lt;/blockquote&gt;</strong><br />
</div>


<a id="twitter"></a>
<br /><br />
<h3 style="font-size: 1.8em; font-weight: bold;">Twitter</h3>
<br /><p>Here are 2 examples of tweets whose quotations have been linked to their source so that a contextual popup could be added.</p>
<br />

<ol class="num">
<li><p lang="en" dir="ltr">“<q cite="https://www.epsilontheory.com/hunger-games/">Last year, Citadel Securities, the largest market maker that executes retail trades, made $6.9 BILLION in net trading revenues. That’s more than twice their prior best year. They did this without taking ANY market risk. NONE.</q>”<a href="https://t.co/J2qEYm964C">https://t.co/J2qEYm964C</a> via <a href="https://twitter.com/EpsilonTheory?ref_src=twsrc%5Etfw">@EpsilonTheory</a></p>&mdash; Jack Hoogland (@jack_hoogland) <a href="https://twitter.com/jack_hoogland/status/1357646294882406400?ref_src=twsrc%5Etfw">February 5, 2021</a></li>


<li><p lang="en" dir="ltr">Anyone else miss the time when our country used to have the mindset “<q cite="https://www.ourdocuments.gov/doc.php?doc=91&page=transcript">Ask not what your country can do for you, ask what you can do for your country</q>”<br /><br />How far we have fallen. <a href="https://t.co/rL9OYkVMuT">pic.twitter.com/rL9OYkVMuT</a></p>&mdash; Ivan Bliminse (@sl33pwh3imd3ad) <a href="https://twitter.com/sl33pwh3imd3ad/status/1359531810028421130?ref_src=twsrc%5Etfw">February 10, 2021</a></li>

<li><p lang="en" dir="ltr">I graduated from the U.S. Naval Academy in 1988.<br><br>I took an oath to defend this country, <q cite="https://www.senate.gov/artandhistory/history/common/briefing/Oath_Office.htm">against all enemies.<br><br>Foreign.<br><br>And domestic.</q> <a href="https://t.co/HqOWfXqswY">https://t.co/HqOWfXqswY</a></p>&mdash; Christopher David (@Tazerface16) 

<p lang="en" dir="ltr">Here’s the longer version of the protester being struck repeatedly by federal police tonight in Portland <a href="https://t.co/v9BljIkLK0">pic.twitter.com/v9BljIkLK0</a></p>&mdash; Zane Sparling (@PDXzane) <a href="https://twitter.com/PDXzane/status/1284733976582615040?ref_src=twsrc%5Etfw">July 19, 2020</a>
</li>
</ol>

<a id="audio"></a>
<br /><br />
<h3 style="font-size: 1.8em; font-weight: bold;">Audio</h3>

<br /><p>I would like to add support for audio-citations, especially for <strong>podcasts and radio</strong>.</p>

<p><a class="underline" href="https://www.openpolitics.com/tim/" target="_blank">Contact me</a> if you are interested in contributing to this portion of the app.</p>
<br /><br /><br /><br />

<h3  style="font-size: 1.8em; font-weight: bold;">Developer Guide</h3>
<ul class="disc">
  <li>These examples depend upon the <a class="underline" href="https://www.citeit.net/sample-code/examples.html">CiteIt <strong>javascript library</strong></a> being installed on the quote's webpage.</li>
  <li>When the <strong>quote is published</strong>, the <a class="underline" href="https://www.citeit.net/sample-code/">CiteIt webservice</a> is called to <strong>lookup the context</strong> and create a contextual <strong>JSON file</strong>.</li>
  <li>Learn how to <a class="underline" href="https://www.citeit.net/sample-code/examples.html">add CiteIt's Contextual Citations to your website</a>. (Video tutorial)</li>
  <li><a class="underline" href="/code/">Get Source Code</a></li>
</ul>
<br /><br />
<br /><br />

</div>
</section>


<style>
  blockquote {
    width: 65%;
  }
  div.down-arrow {
    padding-left: 14.5%;
    /* border: 3px solid purple; */
    width: 65%;
  }
  a.down_arrow {
    text-align: center;
    width: 65%;
  }
  div.quote_arrows {
    width: 65%; 
  }

  div.quote_context {
    /* border: 1px solid red; */
    width: 90%;
  }

  div.citeit_source {
    margin-right: 0%;
    width:30%;
    /* border: 1px solid green;  */
  }
  span.source {
    color: #999;
    margin-right: 5px;
  }
  div.feature {
    float: left;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }

  img.wiki-photo {
    height: 225px;
    padding-right: 0px;
  }

  .thin-border {
    border: 3px solid #ddd;
    margin: 15px 0;
  }

  div.code {
    background-color: #f9fbe5;
    border: 1px solid #dae380;
    padding: 25px 25px 25px 30px;
    width: 70%;
    max-width: 70%;
  }

  .highlight {
    background-color: #f8ff7a;  // yellow
  }

  img.feature {
    float: right;
    padding: 25px 25px 5px 25px;
    width: 280px;
  }

  div.wp-block-image {
    text-align: center;
  }

  h4 {
    margin: 10px 0px 15px; 0px;
  }
  
  span.code {
    color: #2666bb;
    font-weight: 400;
  }

  blockquote.quote_text {
    padding: 25px 30px 25px 30px;
  }

  div#submission-progress {
    padding-top: 5px;
  }

  iframe.youtube {
    margin-bottom: 20px;
  }

@media only screen and (max-width: 1200px) {
  iframe.youtube {
    width: 320px !important;
    height: 185px !important;
  }
}

@media only screen and (max-width: 768px) {

  div#nothing_is-more_certainly p {
    width:100%;
  }

  iframe.youtube {
    width: 320px !important;
    height: 185px !important;
  }

}

@media only screen and (max-width: 425px) {

  blockquote  {
	  width: 95% !important;
  }

  div.code {
	  width: 95% !important;
	  max-width: 95% !important;
  }

  div#nothing_is-more_certainly{
	  width:85% !important;
  }

  img.wiki-photo {
	  height: 175px !important;;
  }

  div.citeit_source {
    width: 1%;
  }

  ul#footer > li {
    display: inline-block;
    margin-bottom: 30px;
    width: auto;
	  *display: inline;
	  /* this fix is needed for IE7- */
  }

  nav#media_types {
    display: none;
  }

  #rabbi-david-wolpe-intro {
    padding-top: 15px;
    clear: both;
  }

  div.up-arrow {
    width: 95% !important;
    clear: both;
  }

 div#nothing_is-more_certainly p {
    width:100%;
  }

  iframe.youtube {
    width: 260px !important;
    height: 150px !important;
    margin-bottom: 20px;
  }

  a.blue {
    background-color: #d8e7f2;
  }

}
</style>