<div id="nav_footer" class="nav">

  <div class="section">  
    <a href="/">Home</a>
  </div>  

    <div class="section">
    <a href="/">Demos</a>
    </div>

  <div class="section">
    <a href="/">Use It</a>
  </div>

  <div class="section">
    <a href="/code/">Code</a>
  </div>  

  <div class="section">
    <a href="/blog/">Blog</a>
  </div>

  <div class="section">
    <a href="https://www.citeit.net/volunteer/">Volunteer</a>
  </div>

  <div class="section">
    <a href="/faq/">FAQ</a>
  </div>

  <div class="section">
    <a href="/about/">About</a>
  </div>

</div>

<div id='citeit_container'><!-- CiteIt-quote-context.js injects data returned from lookup in this hidden div --></div>

<script>
	// Call CiteIt.net plugin on all q-tags and blockquotes:
	$( document ).ready(function() {
		jQuery('q, blockquote').quoteContext();
	});
</script>