
            	<section id="footnotes" class="demo-hide">
                <h4 style="font-size: 1.4em; font-weight: bold;">Footnotes:</h4>


            		<ul>
            			<li id="fn1">
                            <b>YouTube Contextual Transcript Citations:</b>
                            <ol class="num">
                              <li>Find a YouTube video with a <b>transcript</b> &nbsp;&nbsp; (<a href="#" class="underline" target="_blank">See how</a>)
                              <li><b>Locate a quote</b> and copy it into the Example Quote text box
                                  <ul class="disc">
                                    <li><b>Example:</b> "Now, they got these scrolls, either because the local scholars wrote them or because they had a rather crafty law. See, if you came to Alexandria on a boat and you owned a book you had to lend it to the library to be copied. And sometimes the copies were so good the owners went off with the fakes and the library kept the original."</li>
                                  </ul>
                              </li>
                              <li>Get the YouTube URL with the <b>time link</b> &nbsp;&nbsp; (<a href="#" class="underline" target="_blank">See how</a>)
                                  <ul class="disc">
                                    <li><b>Example:</b> <a class="underline" href="https://youtu.be/1NqRbBvujHY?t=398">https://youtu.be/1NqRbBvujHY?t=398</a></li>
                                  </ul>
                              </li>
                              </li>
                              <li>Copy the YouTube link into the <b>Example URL</b> text box
                            </ol>
                  </li>
                  <!--li id="fn2">
                            <p>Strangely enough, there doesn't appear to be a standard for footnote markup. I went with the closest I could find: the <a href="http://fletcherpenney.net/multimarkdown/">MultiMarkdown</a> output format. The algorithm for identifying footnote link/ content pairs works for most of the major blogs I tried it on without any HTML adjustments.</p>
                            <p>The script will place the footnote directly after the nearest block-level element and will remove the <code>li</code> tags when creating the footnote popovers. So, if you want the styles applied to normal paragraphs to apply to the footnote contents, you'll have to wrap them in a <code>p</code> tag in the original footnote markup. <a href="#fn2-return">back</a></p>
                  </li-->
            		</ul>
            	</section>

              <br /><br /><br />

<script type="text/javascript">
    var bigfoot = jQuery.bigfoot(
        {
            deleteOnUnhover: false,
            preventPageScroll: false,
            hoverDelay: 250
        }
    );
</script>
