<div id="nav_footer" class="nav">
  <ul id="footer">
    <li><a href="/">Home</a></li>  
    <li><a href="/demo/">Demos</a></li>
    <li><a href="/try">Try CiteIt!</a></li>
    <li><a href="/code/">Code</a></li>  
    <li><a href="https://www.citeit.net/blog/">Blog</a></li>
    <li><a href="/code/?tab=volunteer">Volunteer</a></li>
    <li><a href="about/?tab=faq">FAQ</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
</div>

<div id='citeit_container'><!-- CiteIt-quote-context.js injects data returned from lookup in this hidden div --></div>

<script>
	// Call CiteIt.net plugin on all q-tags and blockquotes:
	jQuery( document ).ready(function() {

    jQuery.noConflict();

		jQuery('q, blockquote').quoteContext();
	});
</script>