    <main class="mt-4 mx-auto max-w-7xl px-4 sm:px-6 ">
        
      <div class="top_pic_slogan  lg:grid lg:grid-cols-12 lg:gap-8">

        <div id="building-trust" class="md:mx-left lg:col-span-12 lg:text-left">
          <h1>
            <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl">
              <span class="block font-header text-gray-900">Building trust in media</span>
            </span>
          </h1>
          <p id="citeit-description" class="mt-3 mb-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            CiteIt is developing new <span class="text-blue-600 font-extrabold">digital tools</span> that help <span class="text-red-300 font-extrabold">combat misinformation</span> and <span class="text-red-300 font-extrabold">selective quotations</span>.
            These tools show the context surrounding the quoted media in order to build trust and understanding.
          </p>

            <div class="video-caption sm:justify-center sm:w-full md:w-2/3 lg:w-1/2" >(Watch our video to learn more)</div>
        </div>
      

      </div>
        
        <div id="video" class="video_thumbnail video_width sm:w-full mt-0 mb-5 relative md:w-2/3  lg:mt-0 lg:w-1/2 lg:max-w-none lg:mx-0 lg:col-span-12 lg:flex">
             
              <div class="videoWrapper">
                <iframe 
                    id="iframe_video" class="iframe_video" 
                    width="560" height="315" 
                    src="https://www.youtube.com/embed/HzLim9WQHXU" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
          
        </div>


        <section class="bg-white overflow-hidden">
          <div class="relative max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8 lg:mt-16">
            <div id="callout-quote-1" class="mt-10 sm:w-full lg:w-2/3 p-4 border bg-yellow-200 lg:absolute lg:left-24 lg:-top-20 animate-pulse"
                >
                Click on text in blue box below to see the quote in context.
            </div>

            <div class="relative lg:flex lg:items-center">
                <div class="relative mt-16 lg:ml-10 lg:order-2">
                    <svg class="absolute top-0 left-0 transform -translate-x-4 -translate-y-8 h-12 w-12 text-blue-200 opacity-100" stroke="currentColor" fill="none" viewBox="0 0 144 144" aria-hidden="true">
                        <path stroke-width="4" d="M41.485 15C17.753 31.753 1 59.208 1 89.455c0 24.664 14.891 39.09 32.109 39.09 16.287 0 28.386-13.03 28.386-28.387 0-15.356-10.703-26.524-24.663-26.524-2.792 0-6.515.465-7.446.93 2.327-15.821 17.218-34.435 32.11-43.742L41.485 15zm80.04 0c-23.268 16.753-40.02 44.208-40.02 74.455 0 24.664 14.891 39.09 32.109 39.09 15.822 0 28.386-13.03 28.386-28.387 0-15.356-11.168-26.524-25.129-26.524-2.792 0-6.049.465-6.98.93 2.327-15.821 16.753-34.435 31.644-43.742L121.525 15z" />
                    </svg>
                    
                    <div class="text-lg leading-9 font-medium text-gray-900 lg:text-xl">
                        <div id="nothing_is-more_certainly">
                            <p class="bg-blue-300 p-4 border bg-opacity-60 cursor-pointer hover:bg-blue-300 lg:p-8 shadow">
                                <q cite="https://avalon.law.yale.edu/19th_century/jeffauto.asp">Nothing is more certainly written in the book of fate than that these people are to be free.</q>
                            </p>
                        </div>
                    </div>

                    <footer class="mt-8">
                        <div class="flex">
                            <div class="ml-10 lg:ml-10">
                                <div class="text-base font-semibold text-gray-900">Thomas Jefferson, &nbsp; <a class="underline" href="https://avalon.law.yale.edu/19th_century/jeffauto.asp#:~:text=Nothing%20is%20more%20certainly%20written%20in%20the%20book%20of%20fate%20than%20that%20these%20people%20are%20to%20be%20free.">Autobiography</a>  </div>
                                <div class="text-base font-medium text-gray-900">Founding Father of USA &nbsp; <b>Learn More</b>: <a target="_blank" class="underline" href="https://pages.citeit.net/2018/01/06/cherry-picked-quotations-on-the-jefferson-memorial/#in-defense-of-jefferson">In Defense of Jefferson</a> </div>
                            </div>
                        </div>
                    </footer>

                </div>
              </div>
          </div>  
        </section>
      


<a name="wikipedia"></a>

<h3 class="mt-7 mb-3 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Why Start with Wikipedia?</h3>
<div class="mb-15" id="wikipedia_logo" style="float:right">
  <img id="wikipedia-logo" style="float:right; margin:30px 30px 0px 30px" src="/assets/images/Wikipedia-logo-simple.svg" alt="Wikipedia" width="200" height="200" /><br />
  <a style="margin-top: -10px" href="https://en.wikipedia.org/wiki/File:Wikipedia-logo-simple.svg">Wikipedia logo</a>
</div>

<h4 class="mt-7 mb-3 text-xl leading-8 font-extrabold font-header tracking-tight text-blue-600 sm:text-2xl">Future Goal: Journalism &amp; Academia</h4>

<p>My goal is to bring contextual citations to <strong>Journalism</strong> and <strong>Academicia</strong>, but I expect I will need to <strong>postpone this goal</strong> until after I:</p>
<ul class="disc">
  <li>add <strong>features</strong> to CiteIt and make it more <strong>robust</strong></li>
  <li>convince the <strong>publishers/editors</strong> to use CiteIt</li>
  <li>get the <strong>tech people</strong> in publishing to incorporate CiteIt in their publishing software</li>
  <li><strong>teach the journalists/academics</strong> how to build the creation of contextual citations into their workflow.</li>
</ul>
<br /><br />

<p>My currrent <strong class="text-blue-600">stratgey</strong> is to <strong class="text-blue-600">convert the English-language Wikipedia articles</strong> to contextual citations as a <strong>showcase</strong> of what's would be possible in journalism and academia.</p>
<br /><br />

<!--h4 class="mt-7 mb-3 text-xl leading-8 font-extrabold font-header tracking-tight text-blue-600 sm:text-2xl">Wikipedia</h4>
<ul class="disc">
<li>Wikipedia is already has a huge base of citations that can be upgraded to CiteIt's contextual citations.  </li>
<li>Wikipedia articles can be downloaded without asking for permission.</li>
<li>Wikipedia could serve as a showcase of what is possible to journalists and academics.</li>
</ul>
<br /><br /-->



<h3 class="mt-7 mb-3 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Sample Wikipedia Articles</h3>
<p>Click on an image below to view <strong>sample Wikipedia articles</strong> that feature contextual quotations.</p>
<br />
<div class="feature">
  <a href="https://demo-sites.citeit.net/en.wikipedia.org/wiki/Inauguration_of_John_F._Kennedy" target="_blank">
  <picture>
      <source srcset="/assets/images/john-f-kennedy-cropped.webp" type="image/webp">
      <source srcset="/assets/images/john-f-kennedy-cropped.png" type="image/png">
      <img src="/assets/images/john-f-kennedy-cropped.png" class="wiki-photo lazyload" alt="John F. Kennedy Portrait" />
  </picture></a>
  <a class="underline" href="https://demo-sites.citeit.net/en.wikipedia.org/wiki/Inauguration_of_John_F._Kennedy" target="_blank">John F. Kennedy</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg" target="_blank">
  <picture>
      <source srcset="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.webp" type="image/webp">
      <source srcset="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.jpg" type="image/jpeg">
      <img src="/assets/images/Ruth_Bader_Ginsburg_2016_portrait.jpg" class="wiki-photo lazyload" alt="Ruth Bader Ginsburg Portrait"  />
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Ruth_Bader_Ginsburg" target="_blank">Ruth Bader Ginsburg</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hillary_Clinton" target="_blank">
  <picture>
      <source srcset="/assets/images/hillary-clinton.webp" type="image/webp">
      <source srcset="/assets/images/hillary-clinton.jpg" type="image/jpeg">
      <img src="/assets/hillary-clinton.jpg" class="wiki-photo lazyload" alt="Hillary Clinton photo by Gage Skidmore" >
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hillary_Clinton" target="_blank">Hillary Clinton</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Donald_Trump" target="_blank">
  <picture>
      <source srcset="/assets/images/Donald_Trump_official_portrait.webp" type="image/webp">
      <source srcset="/assets/images/Donald_Trump_official_portrait.jpg" type="image/jpeg">
      <img src="/assets/images/Donald_Trump_official_portrait.jpg " class="wiki-photo lazyload" alt="Donald Trump official portrait">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Donald_Trump" target="_blank">Donald Trump</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hamlet" target="_blank">
  <picture>
      <source srcset="/assets/images/Edwin_Booth_Hamlet_1870.webp" type="image/webp">
      <source srcset="/assets/images/Edwin_Booth_Hamlet_1870.jpg" type="image/jpeg">
      <img src="/assets/images/Edwin_Booth_Hamlet_1870.jpg" alt="Wikipedia: Article Popup" class="lazyload">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Hamlet" target="_blank">Hamlet</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Pride_and_Prejudice" target="_blank">
  <picture>
      <source srcset="/assets/images/pride-and-prejudice.webp" type="image/webp">
      <source srcset="/assets/images/pride-and-prejudice.png" type="image/png">
      <img src="/assets/images/pride-and-prejudice.png" class="wiki-photo lazyload" alt="Pride and Prejudice" >
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Pride_and_Prejudice" target="_blank">Pride and Prejudice</a>
</div>


<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Manned_Orbiting_Laboratory" target="_blank">
  <picture>
      <source srcset="/assets/images/480px-MOL_USAF.webp" type="image/webp">
      <source srcset="/assets/images/480px-MOL_USAF.png" type="image/png">
      <img src="/assets/images/480px-MOL_USAF.png" alt="Manned Orbital Laboratory" class="lazyload">
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Manned_Orbiting_Laboratory" target="_blank">Manned Orbital Laboratory</a>
</div>

<div class="feature">
  <a href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Syphilis" target="_blank">
  <picture>
      <source srcset="/assets/images/Syphilis.webp" type="image/webp">
      <source srcset="/assets/images/Syphilis.jpg" type="image/jpeg">
      <img src="/assets/images/Syphilis.png" class="wiki-photo lazyload" alt="Syphilis" >
  </picture></a>
  <a class="underline" href="http://demo-sites.citeit.net/en.wikipedia.org/wiki/Syphilis" target="_blank">Syphilis</a>
</div>

<br style="clear:both" />

    <div class="learn_more homeWidth">
      <h3 id="learn_more" class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">How CiteIt Works</h3>
      
      <p class="mt-7"><strong>Authors opt-in</strong> to CiteIt by:</p>
      <ol class="num">
        <li>providing a <strong>URL</strong> for the quote they are citing,
          <ul>
            <li>
            <div class="code">
            &lt;<strong>blockquote <span class="highlight">cite="https://avalon.law.yale.edu/19th_century/jeffauto.asp"&gt;</span></strong><br />
              Nothing is more certainly written in the book of fate than that these people are to be free.<br />
            &lt;<strong>/blockquote</strong>&gt;
            </div>

          </ul>        
        </li>
        <li>calling the <strong><a class="underline" href="https://pages.citeit.net/sample-code/">CiteIt webservice</a></strong>, which looks up the quote and <strong>creates a <a class="underline" href="https://read.citeit.net/quote/sha256/0.4/d5/d588c1c9c4acfcd254acc4033b7888e98f21e426214b21f0e07673664e328e39.json">JSON file</a></strong> with the contextual data,</li>
        <li>installing the CiteIt jQuery library on their website.  (This can be done with the <strong><a class="underline" href="/code/">WordPress plugin</a></strong>)
          <ul class="disc">
            <li>This library looks for <strong>&lt;blockquote&gt;</strong> and <strong>&lt;q&gt; tags</strong> that have a <strong>"cite"</strong> attributes,</li>
            <li>Looks up the contextual <strong><a class="underline" href="https://read.citeit.net/quote/sha256/0.4/d5/d588c1c9c4acfcd254acc4033b7888e98f21e426214b21f0e07673664e328e39.json">JSON file</a></strong> that the webservice just computed,</li>
            <li>Changes the UI for blockquotes and q tags so that they <strong>expand when clicked on</strong>,</li>
            <li>Injects the webservice's contextual JSON data into the popup window or sections surrounding the quote.</li>
          </ul>
        </li>
      </ol>

      <br />
      <h4 class="text-2xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-2xl">Don't bother with the unserious</h4>
      <p class="mt-15">CiteIt does <i>not</i> try to locate sources for <strong>authors who don't provide citations</strong>.</p>
      <p>CiteIt's approach is that if you want your <strong>readers to take you seriously</strong>, you need to cite them with CiteIt!</p>
      <p>Using CiteIt signals to your readers that you are <strong>holding yourself to a higher standard</strong> and want your readers to <strong>understand more about your sources</strong>.</p>
    </div>

    <div class="learn_more homeWidth">
      <h3 id="learn_more" class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Learn More</h3>
      <ul class="disc">
        <li><a class="underline" href="/demo/">More Demos</li>
        <li><a class="underline" href="/try/">CiteIt <strong>WordPress Plugin</strong></a></li>
      </ul>
    </div>

    <div class="inspired_by homeWidth">
      <h3 id="inspired_by" class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Inspired by</h3>
      <ul class="disc">
        <li><a target="_blank" class="underline" href="https://www.openpolitics.com/articles/ted-nelson-philosophy-of-hypertext.html">Read my article about <strong>Ted Nelson</strong>, which inspired me to create CiteIt.</a> (external link)</li>
      </ul>
      <!--div id="ted-nelson" style="margin-left: 50px; margin-top: 10px;">
          <img src="/assets/images/ted_new_about_montage.png" alt="Ted Nelson" />
          <a class="underline" href="http://www.thetednelson.com/">Ted Nelson website</a>
      </div -->


    <br /><br />
    </div>
    
    <div class="funding lg:w-7/10 md:w-9/10 sm:w-9/10">
      <h3 id="funding" class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Funding Ideas</h3>
      <ul class="disc ">
        <li><strong>I'd love to work on CiteIt full-time</strong> if I can get funding.  Right now I'm considering applying to the <a class="underline" href="https://sloan.org/programs/digital-technology/universal-access-to-knowledge#:~:text=a%20series%20of%20major%20grants%20to,the%20largest%20encyclopedia%20in%20human%20history">Sloan Foundation</a> and the <a class="underline" href="https://knightfoundation.org/programs/journalism/#post-1002:~:text=.%20We%20invest%20in%20efforts%20that,increase%20access%20to%20accurate%2C%20reliable%20information">Knight Foundation</a>.</li>
        <li>My goal is to <strong>start by "upgrading" Wikipedia's</strong> citations using Wikipedia's large volume of citation data to develop a <strong>test suite</strong>.  I would then like to bring contextual citations to <strong>Journalism</strong> and <strong>Academia</strong> once the needed feature set and bugs have been worked out.</li>
        <li>I want CiteIt to stay <strong>open source</strong> so that, like Wikipedia, it can reach the most number of people possible and benefit from the <strong>innovation of open collaboration</strong>.  <a class="underline" href="https://www.openpolitics.com/tim/">Contact me</a> if you have ideas on how to make this happen.</li>
      </ul>
    <br /><br /><br /><br />
    </div>
    

    </main>
  <!--/div-->
  <!--/div-->

<!--/div-->

