    <main class="mt-4 mx-auto max-w-7xl px-4 sm:px-6 ">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
          <h1>
            <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl">
              <span class="block font-header text-gray-900">Building trust in media</span>
            </span>
          </h1>
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            CiteIt is developing new <span class="text-blue-600 font-extrabold">digital tools</span> that help <span class="text-red-300 font-extrabold">combat misinformation</span> and <span class="text-red-300 font-extrabold">selective quotations</span>.
            These tools show the context surrounding the quoted media in order to build trust and understanding.
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="/" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium text-white bg-blue-600 hover:bg-blue-700 md:text-lg">
                See Demos
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="/try" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium text-blue-700 bg-blue-100 hover:bg-blue-200 md:text-lg">
                Use CiteIt
              </a>
            </div>
          </div>
        </div>
        <div class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center">
          <div class="relative mx-auto w-full shadow-lg lg:max-w-md">
            <button type="button" class="relative block w-full bg-white overflow-hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              <span class="sr-only">Watch our video to learn more</span>
              <picture>
                <source srcset="/assets/images/jefferson-memorial-statue-panorama-1-512x270.webp" type="image/webp">
                <source srcset="/assets/images/jefferson-memorial-statue-panorama-1-512x270.jpg" type="image/jpeg"> 
                <img src="img/creakyOldJPEG.jpg" alt="Jefferson Memorial Statue Panoroma, Washington, DC">
              </picture>
              <span class="text-base text-gray-500">There is a <span class="text-red-300 font-extrabold">cherry-picked quote</span> on the Jefferson Memorial</span> 
                <div class="absolute inset-0 w-full h-full flex items-center justify-center" aria-hidden="true">
                <svg class="h-20 w-20 text-blue-500" fill="currentColor" viewBox="0 0 84 84">
                  <circle opacity="0.9" cx="42" cy="42" r="42" fill="white" />
                  <path d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z" />
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>


    <h3 id="example" class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Example</h3>
    <p class="mt-2 mb-4">On <a class="underline" href="https://www.citeit.net/2018/01/06/cherry-picked-quotations-on-the-jefferson-memorial/">Panel 3 of the Jefferson Memorial</a>, Thomas Jefferson is quoted as saying:</p>
    <blockquote cite="http://avalon.law.yale.edu/19th_century/jeffauto.asp">Nothing is more certainly written in the book of fate than that these people are to be free.</blockquote>
    

    <h3 id="test-drive" class="mt-2 text-3xl leading-8 font-extrabold font-header tracking-tight text-gray-900 sm:text-4xl">Test-drive CiteIt!</h3>
    <p class="mt-2">Enter a quote below and the URL for the webpage where the quote is located.  (Use <a class-"underline" href="https://news.google.com/">Google News</a> as an example).</p>
    <form class="test-submission" action="">

        <h4>Quote:</h4>
        <textarea name="quote" rows="5" cols="55"></textarea><br />
        <h4>URL:</h4>
        <input class="url" name="url" type="text" /><br /><br />
        <input class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium text-white bg-blue-600 hover:bg-blue-700 md:text-lg" size="25" type="submit" value="Create Test Citation" />

    </form>



    </main>
  </div>
</div>

<style>

  #example {
    margin-top: 100px;
  }
  #test-drive {
    margin-top: 100px;
  }

  textarea, input.url {
    border: 1px solid #95b7e5;
    background-color: #e8f0f2;
  }
  input.url {
    width: 460px;
    height: 50px;
  }
  input[type=submit]{
    width: 250px;
  }
  input[type=text]:focus {
    border: 3px solid #555;
  }

  form.test-submission h4 {
    color: #2666bb;
    font-weight: 600;
    margin-bottom: 5px;
  }

  form.test-submission {
    margin-bottom: 80px;
  }

</style>