@tailwind base;


@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

.tab-panel {
  padding-right: 15%;
}

ul.disc {
  list-style: disc;
  margin: 10px 0 0 50px;
}

ol.num {
  list-style: decimal;
  margin: 10px 0 0 50px;
}

ol.num li.highlight {
  background-color: yellow;
  color: #000;
  font-weight: 800;
}

ol.num li {
  margin-bottom: 10px;

}



a.footnote {
  display: none;
}

.grey-888 {
  color: #888; 
}

.green {
  background-color: #4CAF50; /* Green */
}

.text-blue {
  color: blue !important;
}

.panel-3 {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 30px 30px 30px 10px;
}


.submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.w-900 {
  width: 85%;
  max-width: 900;
}

.alignright {
  float: right;
  display: inline;
  margin-right: 30px;

}


.level-2 {
  margin-left: 50px;
}

.level-2 a {
  text-decoration: underline;
}
.panel-intro {
  padding-top: 40px;
}
.panel-intro p {
  font-size: 110%;
  margin-bottom: 5px;
}
.panel-width {
  width: 100%;
}

ul#footer {
  margin-bottom: 30;
  padding-top: 25px;
  height: auto;
  overflow: auto; 
}

#nav_footer {
  background-color: #eee; 
  padding-top: 50px; 
  padding-bottom: 250px;   
  display: block;
  height: auto;
  padding-left: auto;
  padding-right: auto;
  
  width: 100%;
  text-align: center;
  overflow: auto;
}

.nav ul li {
  margin-left: 20px;

  height: auto;
}

.nav .section {
  float: left;
  margin: 0px 0px;
  height: auto;
  width: 12.5%;
}

span#if-you-dont-cherry-pick {
  margin-right: 10px;
}

.green-text {
  color: #28a745;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: black;
  }
}
